<mat-card-header class="d-flex justify-content-center my-4">
  <mat-card-title><b>Register</b></mat-card-title>
</mat-card-header>

<form [formGroup]="userRegn">
  <div class="d-flex justify-content-center">
    <mat-form-field
      style="width: 300px; font-size: 16px"
      class="example-full-width"
    >
      <input matInput placeholder="User name" formControlName="name" />
    </mat-form-field>
  </div>
  <div class="d-flex justify-content-center">
    <mat-form-field
      style="width: 300px; font-size: 16px"
      class="example-full-width"
    >
      <input
        matInput
        placeholder="Email id"
        type="text"
        formControlName="email"
        [ngClass]="{
          'is-valid': userRegn.controls.email.valid,
          'is-invalid': !userRegn.controls.email.valid
        }"
        id="validationServer0"
        required
      />
    </mat-form-field>
  </div>
  <div class="d-flex justify-content-center">
    <mat-form-field
      style="width: 300px; font-size: 16px"
      class="example-full-width"
    >
      <input
        matInput
        placeholder="Password"
        type="password"
        formControlName="password"
        [ngClass]="{
          'is-valid': userRegn.controls.password.valid,
          'is-invalid': !userRegn.controls.password.valid
        }"
        id="validationServer1"
        required
      />
    </mat-form-field>
  </div>
  <div class="d-flex justify-content-center">
    <mat-form-field
      style="width: 300px; font-size: 16px"
      class="example-full-width"
    >
      <input
        matInput
        placeholder="Confpassword"
        type="password"
        formControlName="confpassword"
        [ngClass]="{
          'is-valid': userRegn.controls.confpassword.valid,
          'is-invalid': !userRegn.controls.confpassword.valid
        }"
        id="validationServer2"
        required
      />
    </mat-form-field>
  </div>

  <div class="d-flex justify-content-center my-4">
    <button
      mat-raised-button
      color="primary"
      style="width: 150px"
      class="btn-block"
      (click)="registration()"
    >
      <b> Registration</b>
    </button>
  </div>
</form>
