<mat-toolbar color="primary">
  <span>Booking Form</span>
</mat-toolbar>
<mat-card class="mt-2">
  <mat-card-title>Consignor</mat-card-title>
</mat-card>
<mat-form-field
  style="width: 300px; font-size: 16px"
  class="example-full-width mx-4 mt-4"
>
  <input matInput placeholder="Person Name" />
</mat-form-field>
<mat-form-field
  style="width: 300px; font-size: 16px"
  class="example-full-width mx-4 mt-4"
>
  <input matInput placeholder="Contact Num" />
</mat-form-field>
<mat-form-field
  style="width: 300px; font-size: 16px"
  class="example-full-width mx-4 mt-4"
>
  <input matInput placeholder="Address" />
</mat-form-field>
<div>
  <mat-form-field
    style="width: 300px; font-size: 16px"
    class="example-full-width mx-4"
  >
    <input matInput placeholder="Street" />
  </mat-form-field>
  <mat-form-field
    style="width: 300px; font-size: 16px"
    class="example-full-width mx-4"
  >
    <input matInput placeholder="Landmark" />
  </mat-form-field>
  <mat-form-field
    style="width: 300px; font-size: 16px"
    class="example-full-width mx-4"
  >
    <input matInput placeholder="Pincode" />
  </mat-form-field>

  <mat-card>
    <mat-card-title>Consignee</mat-card-title>
  </mat-card>
  <mat-form-field
    style="width: 300px; font-size: 16px"
    class="example-full-width mx-4 mt-4"
  >
    <input matInput placeholder="Person Name" />
  </mat-form-field>
  <mat-form-field
    style="width: 300px; font-size: 16px"
    class="example-full-width mx-4 mt-4"
  >
    <input matInput placeholder="Contact Num" />
  </mat-form-field>
  <mat-form-field
    style="width: 300px; font-size: 16px"
    class="example-full-width mx-4 mt-4"
  >
    <input matInput placeholder="Address" />
  </mat-form-field>
  <div>
    <mat-form-field
      style="width: 300px; font-size: 16px"
      class="example-full-width mx-4"
    >
      <input matInput placeholder="Street" />
    </mat-form-field>
    <mat-form-field
      style="width: 300px; font-size: 16px"
      class="example-full-width mx-4"
    >
      <input matInput placeholder="Landmark" />
    </mat-form-field>
    <mat-form-field
      style="width: 300px; font-size: 16px"
      class="example-full-width mx-4"
    >
      <input matInput placeholder="Pincode" />
    </mat-form-field>
  </div>
</div>
<mat-card>
  <mat-card-title>Item Details</mat-card-title>
</mat-card>
<mat-form-field
  style="width: 300px; font-size: 16px"
  class="example-full-width mx-4 mt-4"
>
  <input matInput placeholder="Weight" />
</mat-form-field>
<mat-form-field
  style="width: 300px; font-size: 16px"
  class="example-full-width mx-4 mt-4"
>
  <input matInput placeholder="Price" />
</mat-form-field>

<div class="mx-4 my-2">
  <button
    mat-raised-button
    color="primary"
    style="width: 100px"
    class="btn-block"
  >
    <b> Submit</b>
  </button>
</div>
