<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card-header class="d-flex justify-content-center my-4">
    <mat-card-title><b>Sign In</b></mat-card-title>
  </mat-card-header>
</div>

<form [formGroup]="userLogin">
  <div class="d-flex justify-content-center">
    <mat-form-field
      style="width: 300px; font-size: 16px"
      class="example-full-width"
      ><mat-label>Email</mat-label>
      <input
        matInput
        type="text"
        placeholder="Enter your email id"
        formControlName="email"
        [ngClass]="{
          'is-valid': userLogin.controls.email.valid,
          'is-invalid': !userLogin.controls.email.valid
        }"
        id="validationServer0"
        required
      />
    </mat-form-field>
  </div>
  <div class="d-flex justify-content-center">
    <mat-form-field
      style="width: 300px; font-size: 16px"
      class="example-full-width"
      ><mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        placeholder="Enter your password"
        formControlName="password"
        [ngClass]="{
          'is-valid': userLogin.controls.password.valid,
          'is-invalid': !userLogin.controls.password.valid
        }"
        id="validationServer01"
        required
      />
    </mat-form-field>
  </div>

  <div class="d-flex justify-content-center my-4">
    <button
      mat-raised-button
      color="primary"
      style="width: 100px"
      class="btn-block"
      (click)="submit()"
    >
      Sign-in
    </button>
  </div>
</form>
